.auth-header {
  float: left;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  z-index: 1;
  a {
    img {
      height: 80px;
      margin-left: 70px;
      transition: 1s;
      &:hover {
        transform: rotate(-200deg);
      }
    }
    p {
      font-size: 25px;
      color: #fff;
      font-weight: bold;
      padding-left: 20px;
      transition: 0.2s;
      text-transform: uppercase;
      text-shadow: 0px 0px 15px rgb(255, 89, 81);
      &:hover {
        color: #FF5951;
        text-shadow: 0px 0px 15px #fff;
      }
    }
  }
}

@media (max-width: 1600px) {
  .auth-header {
    height: calc(20vh * 0.75);
    a {
      img {
        height: calc(80px * 0.75);
        margin-left: calc(20px * 0.75);
      }
      p {
        font-size: calc(25px * 0.75);
        padding-left: calc(20px * 0.75);
      }
    }
  }
}

@media (max-width: 575px) {
 .auth-header {
    justify-content: center;
    a {
      img {
        margin-left: 0;
      }
    }
  }
}